.modal-content
{
    top: 105px;
    left: 166px;
}
b.instruction {
    font-size: 16px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.bg-green.popup-box .modal-header{
    background-color: #52b254;
}
.bg-green.popup-box .que-box{
    background-color: #dcffdc;
}
.bg-green.popup-box .que-box .no{
    background-color: #52b254;
}
.bg-green.popup-box .form-control{
    border-color: #52b254;
}
.bg-green .modal-footer .fa-star{
   color: #52b254;
}
.bg-green.popup-box .btn{
   background-color: #52b254;
}
.radio-label input:checked ~ .checkmark {
    background-color: #fff;
}

img {
    max-width: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}
a img, a:hover img, img, a input {
    text-decoration: none;
}
.constractor {
    background-color:#12a7db !important;
}
.sconstrctor {
    background-color: #c5f7ff !important;
}
.no-1 {
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    margin-right: 15px;
    background-color: #0295ce;
}
[data-region="blocks-column"] {
    width: 200px !important;
    float: right;
}
#region-main-settings-menu.has-blocks, #region-main.has-blocks {
    display: inline-block;
    width: calc(100%) !important;
}
/*@media only screen and (min-width: 304px) {
  img {
    max-width: 1220px;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    }
}*/
/*@media only screen and (max-width: 480px) {
img {
width: 100%;
}
}*/
/*@media (max-width: 284PX)
{
   .circle {
    height: 30px !important;
    width: 30px !important;
    display: inline-block !important;
    text-align: center !important;
    border: 1px solid #828282 !important;
    border-radius: 50% !important;
    line-height: 27px !important;
    margin-right: 0px !important;
    font-size: 12px !important;
    font-weight: bold !important;
    background-color: transparent;} 
}*/
/*@media (max-width: 890px){
    .que.truefalse .answer div.r0, .que.truefalse .answer div.r1 {
    padding: 1.3em !important;
 }
 input[type='radio']:checked:before {
    width: 11px !important;;
    height: 12px !important;;
    border-radius: 50px !important;;
    top: 26.5px !important;;
    left: 17.9px !important;;
}
}*/
/*@media (max-width: 460px)
{
    .que.truefalse .answer div.r0, .que.truefalse .answer div.r1 {
    padding: 1.3em !important;
 }
 input[type='radio']:checked:before {
    width: 11px !important;;
    height: 12px !important;;
    border-radius: 50px !important;;
    top: 26.5px !important;;
    left: 17.9px !important;;
}
}*/
/*@media (max-width: 445px){
   .circle {
    height: 40px !important;
    width: 40px !important;
    display: inline-block !important;
    text-align: center !important;
    border: 1px solid #828282 !important;
    border-radius: 50% !important;
    line-height: 36px !important;
    margin-right: 0px !important;
    font-size: 15px !important;
    font-weight: bold !important;
    background-color: transparent;
}

.col-4 img {
    max-width: 110px;
}
.que-box .value {
    display: inline-block;
    text-align: center;
    margin-left: 10px !important;
    font-size: 12px !important;
}
.que-box {
    background-color: #ffe8e6;
    padding: 0px 0px !important;
    font-size: 18px !important;
    float: left;
    width: auto !important;
}
.checkbox-label {
    font-size: 12px !important;
}
}*/
element.style {
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
input, select, textarea, button, .btn {
    font-family: 'Roboto', sans-serif;
    direction: ltr;
    color: #3e3e3e;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 10px;
    margin: 0em;
    margin: 0px;
    border: 1px solid #cecece;
    transition: all 0.4s ease-out;
    border-radius: 3px;
    box-sizing: border-box;
    outline: none;
}
/*.formulation
{
    border:1px solid #9e9e9e;
}*/
.modal-body {
   padding: 40px 40px !important;
    display: inline-block;
    width: 100%;
    background-color: #fff;
}
.form-control {
    display: inline !important;   
}
.form-control:focus {
    color: #000 !important;
    background-color: #fff;
    border-color: #f95332 !important;
    box-shadow: 0 0 0 0.2rem rgb(15 111 197 / 75%);
}
p {
    margin: 0px;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 35px;
    /*font-weight: 500;*/
}
.que-box .no {
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    margin-right: 15px;
    background-color: #d33924;
}

input[type="checkbox"]:checked + div .flex-fill .circle{
    background-color: #808080;
    color: #fff;
}
.answer input[type="checkbox"]{
    opacity: 0;
}
input#yui_3_17_2_1_1630567536098_33
{
   opacity: 0;  
}
label input[type='checkbox'] {
  /*  display: none;*/
}
.circle {
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: center;
    border: 1px solid #828282;
    border-radius: 50%;
    line-height: 47px;
    color: #fff;
    margin-right: 15px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
}
input[type="checkbox"]:checked + label .circle {
    background: #808080;
    color: #fff;
}

.que .formulation {
    color: #001a1e;
    background-color: #fff !important; 
     border-color: #fff !important; 
     margin-right: 100px;
}
body
{
    background-color: #fafafa !important;
    color: #000;
}
.popup-box .modal-header img.left-arrow{
    width: 24px;
    margin-right: 10px;
}
.modal-header {
    background-color: #f94623;
    color: #fff;
    padding: 15px 20px;
    border-radius: 0px;
}
.que.multichoice .answer div.r0, .que.multichoice .answer div.r1 {
    display: INLINE-BLOCK;
    margin: .25rem 0;
    /* align-items: flex-start; */
    WIDTH: 50%;
    float: left;
    margin: 20px 0px 0px 0px !important;
    min-height: 120px;

}
.que-box{
     background-color: #ffe8e6;
    padding: 5px 15px;
    font-size: 20px;
    float: left;
    width: 100%;
}
.value-text {
    float: left;
    padding-top: 5px;
}
.que-box .value {
    display: inline-block;
    text-align: center;
    margin-left: 12px;
    font-size: 18px;
}
.que-box .value span {
    display: block;
}
.que-box .value span + span {
    border-top: 1px solid #bcaba9;
}
.hydrogen-oxygen-box input{
  display: inline-block;
  width: 40px !important;
  top: 15px;
  position: relative;
  border: 2px solid #f95332;
}
.radio-label {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    padding-top: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radio-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .radio-label .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    opacity: 1;
    background-color:transparent;
    border-radius: 50%;
    border: 1px solid #4d4d4d;
  }
   .radio-label input:checked ~ .checkmark {
    background-color: #fff;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio-label input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio-label .checkmark:after {
    top: 5px;
    left: 5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #4d4d4d;
  }
.checkbox-label input:checked ~ .circle {
    background: #808080;
    color: #fff;
}
ul.ans-list{
    display: inline-block;
    width: 100%;    
}
ul.ans-list li{
    width: 50%;
    float: left;
    margin: 20px 0px;
    list-style: none;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
  }
  .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-size: 20px;
  }
.form-control:disabled, .form-control[readonly] {
    background-color: #fff !important;
    opacity: 1;
}
    html {
    font-size: 15px;
    font-family: sans-serif;
}



.input-numeric-container {
    background: #fff;
   /* padding: 1em;
    margin: 1em auto;*/
    max-width: 245px;
    display: inline-block;
}


.input-numeric {
    width: 100%;
    padding: 0.8em 0.2em;
    margin-bottom: 0.8em;
    box-sizing: border-box;
    border: 1px solid silver;
    outline-color: #4CAF50;
}

.table-numeric {
    width: 100%;
    border-collapse: collapse;
}

.table-numeric td {
    vertical-align: top;
    text-align: center;
    width: 33.33333333333%;
    border: 0;
}

.table-numeric button {
    position: relative;
    cursor: pointer;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.6em 0.3em;
    font-size: 1em;
    border-radius: 0.1em;
    outline: none;
    user-select: none;
}

.table-numeric button:active {
    top: 2px;
}

.key {
    background: #fff;
    border: 1px solid #d8d6d6;
    width: 50px !important;
}

.key-del {
    background: #FF9800;
    border: 1px solid #ca7800;
    color: #fff;
}

.key-clear {
    background: #E91E63;
    border: 1px solid #c70a4b;
    color: #fff;
}

button[disabled] {
    opacity: 0.5;
    cursor: no-drop;
}

[data-numeric="hidden"] .table-numeric {
    display: none;
    background-color: #fff;
    width: 165px;
    position: absolute;
}
select::-ms-expand
{
     display: none;
}
.bg-neonCarrot.popup-box .modal-header{
    background-color: #ff9e3e;
}
.bg-neonCarrot.popup-box .que-box{
    background-color: #ffe9d7;
}
.bg-neonCarrot.popup-box .que-box .no{
    background-color: #ff9e3e;
}
.bg-neonCarrot.popup-box .form-control{
    border-color: #ff9e3e;
}
.bg-neonCarrot .modal-footer .fa-star{
   color: #ff9e3e;
}
.bg-neonCarrot.popup-box .btn{
   background-color: #ff9e3e;
}
.fa-arrow-left {
    color: #fff !important;
}
.select-box p {
    display: inline-block;
    padding: 10px;
}
ul.hydrogen-list li input {
    border: 2px solid #f95332 !important;
    width: 70px !IMPORTANT;
    height: 30px;
}
ul.hydrogen-list li span {
    font-size: 22px;
    min-width: 55px;
    display: inline-block;
}
.ablock.form-inline {
    display: none;
}
.modal-body .hydrogen-oxygen-box span select
{
   width: 40px;
    top: 15px;
    position: relative;
    border: 2px solid #f95332; 
}
.modal-body .line-height-60 span select
{
    border: none;
    padding: 0px 5px;
    border-radius: 0px;
    border-bottom: 1px solid #f7931e;
    width: 100px;
}
.modal-body .line-height-60 span input
{
    border: none;
    padding: 0px 5px;
    border-radius: 0px;
    border-bottom: 1px solid #f7931e;
    width: 100px;
}
.line-height-60 span select:focus
{
    border: none !important;
    padding: 0px 5px !important;
    border-radius: 0px !important;
    border-bottom: 1px solid #f7931e !important;
    width: 100px !important;
    box-shadow: none !important;
}
.line-height-60 {
    line-height: 60px;
}
.hydrogen-list li span select
{
    border: 2px solid #f95332;
    width: 70px;
    height: 30px;
    padding-top: 0px;
}
.hydrogen-list li span select:focus
{
   border: 2px solid #f95332 ;
    width: 70px;
    height: 30px ;
     box-shadow: none !important;
}
.que.truefalse .answer div.r0, .que.truefalse .answer div.r1 {
   padding: .3em;
    font-size: 15px;
    display: inline-block;
    margin-right: 11em;
    margin-left: 70px;
    transform: scale(1.8);
}
.que.truefalse .answer div.r0, .que.truefalse .answer div.r1 :focus {
     box-shadow: none !important;
    }
     .que.truefalse .answer div.r0 :focus {
     box-shadow: none !important;
    }
.prompt {
    display: none;
}
/*************Hide**************************/
header#page-header {
    opacity: 0;
    display: none;
}
.info {
    display: none;
}
/*.card-body.p-3 {
    display: none;
}
div#page {
    padding-top: 30px;
}*/
/*section.d-print-none {
    display: none;
}*/
    .mt-5.mb-1.activity-navigation.container-fluid {
    display: none;
}

/***************end hide*******************************/
  input[type='radio']:after {
        width: 18px;
        height: 18px;
        border-radius: 15px;
        top: -2px;
        left: -5px;
        position: relative;
        background-color:#fff;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 1px solid #4d4d4d
    }
   /* input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color:#4d4d4d;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 1px solid #4d4d4d
    }*/
/*ques 11*/
.modal-body small{
  position: relative;
   top: -7px;
}
.table td, .table th{
  padding: 5px;
  font-weight: 400;
}
.bondTable{
  max-width: 340px;
}
.average-bond-table thead{
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.average-bond-table.table thead th, .average-bond-table.table-bordered td, .average-bond-table.table-bordered th{
   border-color: #9d9d9d;
}
.average-bond-table.table-bordered td{
  font-size: 20px;
  color: #000;
  font-weight: bold;
  text-align: center;
}
.average-bond-table.table-bordered td select{
  width: 80px;
  height:34px;
  border: 2px solid #f94c2a;
}
.average-bond-table.table-bordered td input{
  width: 80px;
  height:34px;
  border: 2px solid #f94c2a;
}
select:focus {
    box-shadow: none !important;
    }
    input:focus {
    box-shadow: none !important;
    }
/*********************************************Popup 11 css***/
.box-standing-balcony select{
  border-color: #fa7459 !important;
}
.box-standing-balcony input{
  border-color: #fa7459 !important;
}
.box-standing-balcony p{
  line-height: 60px;
}
.btn.btn-border{
  border-radius: 50px;
  padding: 11px 40px;
}
.popup-box .form-control {
    display: inline-block;
}
.box-standing-balcony p span select{
    border: none;
    /*padding: 0px 5px;*/
    border-radius: 0px;
    border-bottom: 1px solid;
    width: 100px;
}
.box-standing-balcony p span input{
    border: none;
    /*padding: 0px 5px;*/
    border-radius: 0px;
    border-bottom: 1px solid;
    width: 100px !important
}
.popup-box .btn {
    padding: 8px 40px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: #f74523;
    border-radius: 0px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}
.btn.btn-border{
  border-radius: 50px;
  padding: 11px 40px;
}
.box-magnesium-plates select {
    padding-top: 0px;
    border: 2px solid #f95332;
    width: 70px;
    height: 30px;
}
.box-magnesium-plates input {
    padding-top: 0px;
    border: 2px solid #f95332;
    width: 70px;
    height: 30px;
}
.correct-answer{
  font-size: 23px;
  color: #7cb342;
  margin-top: 20px;
}
.box-statement-best .checkbox-label{
  padding-left: 65px;
}
.box-statement-best ul.ans-list li .circle{
  position: absolute;
  left: 0px;
}
.checkbox-label {
    display: block;
    position: relative;
    padding-left: 0px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*.answer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}*/

.btn-primary {
    background: #d33924;
    color: #fff;
}
input[type='radio']:checked:before {
    width: 11px;
    height: 12px;
    border-radius: 50px;
    top: 11px;
    left: 3px;
    position: relative;
    background-color: #4d4d4d;
    content: '';
    /* display: inline-block; */
    visibility: visible;
    border: none;
    position: absolute;
    z-index: 5;
}
  .modal-body .drop {
    width: 35px !important;
    height: 43px !important;
    border: 2px solid #f94623 !important;
    margin: 2px;

}

.draggrouphomes1 .draghome{
    position: relative;
    bottom: 80px;
    left: 39px;
    width: 35px;
    height: 43px;
    background-color: #f94623 !important;
    display: inline-block;
    border-radius: 3px;
    font-size: 23px;
    text-align: center;
    line-height: 43px;
    color: #fff;
    cursor: pointer;
}
span.dragInPara {
    position: relative;
    left: 203px;
    top: 33px;
    font-size: 20px !important;
}
.que-btn {
    color: #fff;
}
.que-btn:hover {
    color: #fff;
}
/*.modal-body .dragIn
{
     position: relative;
    bottom: 115px;
    right: 119px;

}*/
.myClass-14 .qtext{
    width: 60%;
    float: left;
}
.myClass-14 .answercontainer{
    float: left;
    width: 40%;
    margin-top: 120px;
}
.que.ddwtos .myClass-14 .draghome{
    bottom: 0px;
    width: 100% !important;
    left: 0px;
    text-align: left;
    padding: 0px 15px;
    background-color: transparent !important;
    color: #000;
}
.myClass-14 .que-box{
    width: 167%;
}
.que.ddwtos .myClass-14 .drop.active{
    width:100% !important;
}
.que .content{ margin: 0px; }
/*---------display none------------------*/
span#mod_quiz_navblock_title {
    display: none;
}
/*a.endtestlink.aalink {
    display: none;
}*/

.singlebutton .btn-secondary {
    display: none;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    align-self: center;
}
   /* .mod_quiz-prev-nav
    {
        float: left;
    }*/
   /* .mod_quiz-next-nav
    {
        float: right;
    }*/
/*.qn_buttons.clearfix.multipages {
    display: flex;
    position: relative;
    right: 702px;
    top: 466px;
}*/
/*.block.block_fake.card.mb-3
{
    border: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    bottom: 46px;
}*/
@media(max-width: 900px){
    .que.truefalse .answer div.r0, .que.truefalse .answer div.r1{  margin-left: 60px;margin-bottom: 20px; }


}
@media(max-width: 768px){
    .myClass-14 .answercontainer{ width: 100%; margin-top: 0px;}
    .myClass-14 .qtext{ width: 100%; }
    .myClass-14 .que-box{ width: 100%; }
    .que .formulation{ margin-right: 0px; }
    .que.multichoice .answer div.r0, .que.multichoice .answer div.r1{ width: 100%; min-height: auto; }
}
@media(max-width: 400px){
    .block.block_fake.card.mb-3{ width: 100%;}
    #page-mod-quiz-attempt .submitbtns .mod_quiz-next-nav, #page-mod-quiz-review .submitbtns .mod_quiz-next-nav{     position: relative;top: -48px; right: 20px;
    margin-top: 30px; }
    .que-box{  font-size: 18px; }
    .que-box .value{ font-size: 16px; }
    .mod_quiz-prev-nav {float: left; top: -20px;position: relative;margin-left: 20px;}
    .modal-body{ padding: 20px 20px !important; }
}
@media(max-width:591px)
{
   span.dragInPara {
    position: relative;
    top: 100px;
    font-size: 20px !important;
    left: 0px;
   }
}
@media(max-width: 426px)
{ 
   span.dragInPara {
   top: 115px;
   }
}


/*---------------09/23/21--------------------------*/
/*element.style {
    position: absolute;
    z-index: 1;
    border: none;
    right: 329px;
    background: #fff;
    color: #000;
}
*/
/*.mod_quiz-next-nav.btn.btn-primary
{
    font-size: 35px;
    background:#f6f6f6;
    border: none;
    color: #000;
    z-index: 1;
    position: absolute;
    right: 226px;
}*/
#mod_quiz_navblock
{
    background-color: #f6f6f6;
}
/*.mod_quiz-prev-nav
{
   font-size: 35px;
    background:#f6f6f6;
    border: none;
    color: #000;
    z-index: 1;
    position: absolute;
    left: 218px
}*/
/*.mod_quiz-prev-nav:hover
{
   font-size: 35px;
    background:#f6f6f6;
    border: none;
    color: #000;
    z-index: 1;
    position: absolute;
    left: 218px
}*/
.btn-primary:focus, .btn-primary.focus {
    outline: none;
    }
    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
    color: #000;
    background-color: #f6f6f6;
    border-color: #f6f6f6;
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show>.btn-secondary.dropdown-toggle {
    color: #212529;
    background-color: #f6f6f6;
    border-color: #f6f6f6;
}
.path-mod-quiz .othernav a, .path-mod-quiz .othernav input {
    display: block;
    margin: .5em 0;
    float: right;
    position: relative;
    bottom: 60px;
    left: 168px;
    width: 128px;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton.thispage:after{
    right:0;
    top: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton.thispage:after {
    border-color: rgba(136, 183, 213, 0);
        border-right-color: #d33924;
    border-width: 0px 20px 20px;
    margin-top: -19px;
}
.path-mod-quiz #mod_quiz_navblock .qnbutton.bg-green:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #52b254;
    border-width: 0px 20px 20px;
    margin-top: -19px;
}
.path-mod-quiz #mod_quiz_navblock .qnbutton.bg-neonCarrot:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #ff9e3e;
    border-width: 0px 20px 20px;
    margin-top: -19px;
}
.path-mod-quiz #mod_quiz_navblock .qnbutton.blue-color:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #0295ce;
    border-width: 0px 20px 20px;
    margin-top: -19px;
}
div#newElement {
    position: absolute;
    left: -104px;
    font-size: 20px;
    top: 5px;
}
span.fa.fa-star.\30 2star {
    color: #d33924;
}
input[type="submit"]:disabled {
    background-color: #f6f6f6;
}
a.endtestlink.aalink.bg-green.btn.btn-primary {
    background: #52b254;
}
a.endtestlink.aalink.bg-neonCarrot.btn.btn-primary {
    background: #ff9e3e;
}
a.endtestlink.aalink.blue-color.btn.btn-primary {
    background: #0295ce;
}
.fa-star.blue-color:before {
    color: #0295ce;
}
.fa-star.bg-green:before {
    color: #52b254;
}
.fa-star.bg-neonCarrot:before {
    color: #ff9e3e;
}
/*----------next and prev button display none--------------------------*/
.mod_quiz-prev-nav
{
    display: none;
}
.mod_quiz-next-nav
{
   display: none; 
}
/*-------------new arrows----------------*/
/*div#left-arrow {
    position: relative;
    float: left;
    bottom: 70px;
    right: 30px;
    font-size: 30px;
}
div#right-arrow {
    float: right;
    font-size: 30px;
    position: relative;
    bottom: 6px;
    right: 15px;
}*/
div#right-arrow {
    /* display: flex; */
    position: ABSOLUTE;
    top: 7px;
    RIGHT: 25px;
    font-size: 25px;
}
.qn_buttons.clearfix.multipages
{
	position: relative;
    padding: 0px 40px;
}
div#left-arrow {
    float: left;
    left: 16px;
    top: 9px;
    POSITION: absolute;
    font-size: 25px;
}
div#time-left {
    text-align: right;
    position: relative;
    right: 0;
    font-size: 20px;
    padding-right: 160px;
}
div#quiz-timer {
    display: none;
}
}
div#user-picture {
    display: none;
}
.time-left-quiz
{
    background: #333333;
    color: #fff;
    padding: 0px 4px 3px;
    border: 3px solid #666;
    border-radius: 10px;

}


@media only screen and (max-width: 830px) {
  .path-mod-quiz .othernav a, .path-mod-quiz .othernav input {
    left: 90px !important;
    width: 85px !important;
}
}
@media only screen and (max-width: 700px) {
  .path-mod-quiz .othernav a, .path-mod-quiz .othernav input {
    /*left: 66px !important;
    width: 74px !important;*/
    position: unset;
    margin-right: 170px;
}
div#newElement {
     top: -35px;
    left: 170px;
}
}

@media only screen and (max-width: 500px) {
  .path-mod-quiz .othernav a, .path-mod-quiz .othernav input {

    margin-right: 160px;
}
div#newElement {
    left: 75px;
}
}
@media only screen and (max-width: 400px) {
  .path-mod-quiz .othernav a, .path-mod-quiz .othernav input {

    margin-right: 160px;
}
div#newElement {
    left: 75px;
}
}
